{{!-- This is the Login Page --}}


{{#if error}}
    <div class="alert alert-danger">
        {{#each error}}
            <span class="closebtn" onclick="this.parentElement.style.opacity=0">&times;</span>
            {{ this }}
        {{/each}}
    </div>
{{/if }}

{{#if success_msg}}
    <div class="alert alert-success">
        {{#each success_msg}}
            <span class="closebtn" onclick="this.parentElement.style.opacity=0">&times;</span>
            {{ this }}
        {{/each}}
    </div>
{{/if }}


<link rel="stylesheet" href="/css/login.css">
<section id="login">

    <div class="container lead-login">
        {{#if hasSession }}
            <h3>Thankyou {{ username }} for registering!</h3>
        {{/if }}

        <h1>{{ title }}</h1>

        <p>Welcome to the {{ title }} </p>
    </div>

    <div class="form-container">
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control input-login" id="username" name="username" placeholder="Please enter a Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control input-login" id="password" name="password" placeholder="Please enter a Password">
            </div>
            <button class="button" type="submit" id="logSubmitButton">Submit</button>
        </form>
    </div> 
    
</section>